* { 
  box-sizing: border-box; 
  font-family: 'Monda', sans-serif;
}
body { background: #38274F; margin: 10px; }

#stats { position: absolute; top: -8px; left: 14px; }
#stats > span {
  padding: 0 8px; margin-right: 5px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
  font-size: 0.6rem; color: rgba(255, 255, 255, 0.2);
}
#stats > span.synced.failed { background: rgb(222, 78, 78); color: rgba(255, 255, 255, 0.55); }

nav {
  margin: 0 10px 10px 10px;
  color: #FFF;
}

nav div.podcasts { 
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  margin: 30px -20px 20px -20px;
}
nav div.podcasts div.podcast { 
  position: relative; float: left;
  overflow: hidden; 
}
nav div.podcasts div.podcast > img { width: 100%; opacity: 0.3; }
nav div.podcasts div.podcast > span.title {
  position: absolute; bottom: 0; left: 0;
  width: 100%; padding: 2px;
  font-size: 0.6rem; text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid red;
}
nav div.podcasts div.podcast > span.title > span {
  margin-left: 4px; font-size: 0.5rem;
}
nav div.podcasts div.podcast > span.title > span.synced { color: #45da4b; }
nav div.podcasts div.podcast > span.title > span.warning { color: #e32968; }

nav .search {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 0;
}

nav button,
nav input,
nav select { 
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 4px;
  outline: 0;
  border: 0;
}

nav button {
  position: relative; display: inline-block;
  border-radius: 5px; padding: 5px 15px;
  font-size: 1.5rem; font-weight: normal; cursor: pointer;
  text-decoration: none; color: #fff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
nav button i.zmdi + span { margin-left: 10px; }

.blue { background-color: #55acee; border-color: #3C93D5; }
.blue:hover, .blue:focus { background-color: #6FC6FF; }
.green { background-color: #2ecc71; border-color: #15B358; }
.green:hover, .green:focus { background-color: #48E68B; }
.red { background-color: #e74c3c; border-color: #CE3323; }
.red:hover, .red:focus { background-color: #FF6656; }
.purple { background-color: #9b59b6; border-color: #82409D; }
.purple:hover, .purple:focus { background-color: #B573D0; }
.orange { background-color: #e67e22; border-color: #CD6509; }
.orange:hover, .orange:focus { background-color: #FF983C; }
.yellow { background-color: #f1c40f; border-color: #D8AB00; }
.yellow:hover, .yellow:focus { background-color: #FFDE29; }


.container {
  margin: 10px 10px 10px 10px; padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: start;
}

.card {
  position: relative; height: 100%;
  border-radius: 4px;
  background: #463658; font-size: 0.7rem;
}

.card > .details { 
  height: inherit; padding: 15px; 
  border-radius: inherit;
}

.card h1, 
.card h3 { margin: 0 0 10px 0; font-weight: normal; }

.card h1 { 
  font-size: 0.95rem; font-weight: bold; 
  color: rgba(255, 255, 255, 1); 
}

.card h3 { 
  margin-left: 0; padding: 4px 5px;
  border-radius: 4px; border-bottom: 2px solid transparent;
  font-size: 0.8rem; color: rgba(255, 255, 255, 1); 
  background: rgba(255, 255, 255, 0.05); text-align: center;
}

.card p { 
  margin-top: 5px; font-size: 0.7rem; 
  color: rgba(255, 255, 255, 0.7);
}
.card mark { 
  padding: 0 2px; border-radius: 3px;
  background: #ffffff52; color: inherit; 
}

span.pubdate { 
  position: absolute; bottom: 10px; right: 15px; 
  font-size: 0.6rem; color: rgba(255, 255, 255, 0.4);
}
span.score { 
  position: absolute; bottom: 10px; left: 15px; 
  font-size: 0.4rem; color: rgba(255, 255, 255, 0.2);
}


@media only screen and (max-width: 600px) {
  .desktop { display: none; }
  nav { margin: 0; }
  nav div.podcasts { 
    grid-template-columns: repeat(5, auto);
    margin: 50px -10px 20px -10px;
  }
  nav .search {
    grid-template-columns: 1fr auto auto;
    grid-row-gap: 10px;
    margin-bottom: 10px;
  }
  nav .search:first-child {
    grid-column: 1 / -1;
  }
  nav input { width: 100%; }
  .container {
    grid-template-columns: 1fr;
    margin: 0;
  }
} 

@media only screen and (min-width: 600px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    nav div.podcasts {
      grid-template-columns: repeat(20, auto);
    }
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1600px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 2000px) {
    .container {
      grid-template-columns: repeat(5, 1fr);
    }
}